* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button, h3 {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px 5%;
}

.nav-title {
    margin-bottom: 10px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    margin: 10px;
}